ham_sd
NBRA
outs
res
traj*
autotest.tag
band.out
charges.bin
detailed.out
dftb_pin.hsd
dftb_in.hsd
eigenvec*
hamsqr1*
oversqr*
*-md.xyz
*-md-aligned.xyz
geo_end.xyz
md.out
o
odin*
p_matrix.txt
*.gen
.ipynb_checkpoints
matsci-0-3/
skfiles/
skfiles2/
skfiles3/
test.ipynb

